@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --left--background:  rgb(162, 204, 237);
  --right--background: rgb(255, 119, 0);
  --text: rgb(255,255,255);
  --left--joke--background: rgba(3, 34, 73, 0.431);
  --save--button--hover: rgba(3, 34, 73);
  --save--button:  rgb(2, 45, 97);
  --generate--button:  rgb(240, 123, 66);
  --generate--button--hover:  rgb(253, 100, 23);
  --delete--button: rgba(3, 34, 73);
  --delete--button--hover:  rgb(104, 104, 104);
}

body {
  height: 100vh;
  overflow: hidden;
  font-family: Lato, sans-serif;
}

h3 {
  color: var(--text);
  font-size: 50px;
  font-weight: 300;
  margin-bottom: 10%;
}

.columns {
  display: flex;
}

.columns-left {
  width: 30%;
  background-color: var(--left--background);
  height: 100vh;
  overflow-y: auto;
}

h4 {
  color: var(--text);
  font-size: 30px;
  font-weight: 300;
  margin: 10% 0;
  text-align: center;
}

.joke-item {
  background-color: var(--left--joke--background);
  margin: 10%;
  padding: 5%;
  border-radius: 10px;
}

.joke-text {
  font-family: Lato, sans-serif;
  line-height: 25px;
  color:  var(--text);
}

.btn-delete {
  font-family: Lato, sans-serif;
  background-color: var(--delete--button);
  color: var(--text);
  padding: 10px;
  margin-top: 15px;
  border-radius: 5px;
  font-size: 12px;
  border-style: none;
  cursor: pointer;
  outline: none;
}

.btn-delete:hover {
  background-color:  var(--delete--button--hover);
}

.columns-right {
  background-color: var(--right--background);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d6002b' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b10022' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d9004b' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b2003d' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d3006c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23ac0057' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c4008c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%239e0071' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.joke-new {
  background-color:  var(--left--joke--background);
  border-radius: 10px;
  padding: 50px 20px;
  text-align: center;
  color: var(--text);
  max-width: 80%;
  margin: 0px 45px;
}

.joke-new-text {
  font-size: 25px;
  padding: 20px;
  line-height: 40px;
  letter-spacing: 2px;
}

.buttons {
  margin-top: 5%;
}

.btn {
  font-family: lato;
  padding: 15px;
  margin: 10px;
  color: var(--text);
  border-radius: 10px;
  font-size: 16px;
  border-style: none;
  cursor: pointer;
  outline: none;
}

.btn-another {
  background-color: var(--generate--button);
}

.btn-another:hover {
  background-color: var(--generate--button--hover);
}

.btn-save {
  background-color: var(--save--button);
}

.btn-save:hover {
  background-color: var(--save--button--hover);
}

.fa {
  font-size: 16px;
  padding-left: 5px;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f5f5f5;
}
