@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  /* background: url(./img/joker.jpg) no-repeat center; */
  /* background-size: cover; */
  min-height: 100vh;
  overflow: hidden;
  font-family: Lato, sans-serif;
}

body::after {
  content: "";
  background: black;
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

p {
    color: white;
    font-size: 16px;
}

h3 {
    color: black;
    font-size: 23px;
    font-weight: 300;
    letter-spacing: 2px;
}

.container {
  margin: 20px;
}

.columns {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.columns-left {
  position: relative;
  width: 30%;
  min-height: 100vh;
}

.columns-right {
  background-color: rgb(149,255,255);
  position: relative;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  
}

.joke-new {
    background-color: rgba(3, 34, 73, 0.431);
    border-radius: 10px;
    padding: 50px 20px;
    text-align: center;
    color: white;
    max-width: 800px;
}

.joke-new-text {
    font-size: 30px;
    padding: 20px;
    line-height: 40px;
} 

.buttons {
  display: flex;
  margin-top: 5%;
}

.btn {
  padding: 10px;
  margin: 10px;
}

.btn-another {
  background-color: rgb(240,123,66);
}

.btn-save {
  background-color: rgb(3,34,73);
}