@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  overflow: hidden;
  font-family: Lato, sans-serif;
}

h3 {
  color: white;
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 10%;
  margin-top: -10%;
}

.columns {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.columns-left {
  position: relative;
  width: 30%;
  min-height: 100vh;
  background-color: rgb(200, 238, 245);
}

.columns-right {
  position: relative;
  background-color: #ff7700;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d6002b' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b10022' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d9004b' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b2003d' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d3006c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23ac0057' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c4008c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%239e0071' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.joke-new {
  background-color: rgba(3, 34, 73, 0.431);
  border-radius: 10px;
  padding: 50px 20px;
  text-align: center;
  color: white;
  max-width: 700px;
  margin: 0px 45px;
}

.joke-new-text {
  font-size: 30px;
  padding: 20px;
  line-height: 40px;
}

.buttons {
  display: flex;
  margin-top: 5%;
}

.btn {
  padding: 15px;
  margin: 10px;
  color: white;
  border-radius: 10px;
  font-size: 17px;
  border-style: none;
  cursor: pointer;
}

.btn-another {
  background-color: rgb(240, 123, 66);
}

.btn-save {
  background-color: rgb(3, 34, 73);
}
